*{
    padding: 0px;
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: smaller;
}
.logo{
    display: inline;
    margin-left: 10%;
    padding-top: 10px;
}
.search{
    display: inline;
    margin-left:50%;
}
.head{
    background-color: black;
    color:aliceblue;
    padding: 2px;
}
.search input[type="submit"]{
    background-color:#FF7961;
    color:aliceblue;
    border: 2px solid #FF7961;
    padding:1px;
    border-radius: 2px;
}
span{
    color:#FF7961;
}
.name{
    display:inline;
}
li{
    display:inline;
    margin: 30px;
    padding: 3px;
}
.inputbox{
    background-color:#f1674e ;
    color: aliceblue;
    border:1px solid #e96751 ;
    padding: 4px;
    margin-top:3px;
}
.body{
    width:100% ;
    height: 2250px;
    margin-top: 5px;
    background-color: rgb(221, 218, 218);
    border: 1px solid rgb(211, 209, 209);
}
.balloon{
    width: 53%;
    height: 320px;
    background-color:rgba(255, 255, 255, 0.863);
    margin: 5% 20% 2% 20%;
    position:relative;  
}
.fest{
    width: 43%;
    height:230px; 
    padding: 20px;
    margin:10px;
    position: absolute;
    top:10px;
    right:5%;
    background-color:white ;
    border:1px solid white;
}
.veiw{
    background-color:#FF7961 ;
    border:1px solid #FF7961 ;
    color: aliceblue; 
    position:absolute;
    top:2%;
    right: 85%;
    padding: 3px;
}
.division{

    width: 30%; 
    display: inline;
    margin: 5px;
}
.box{
    margin-left: 20%;
    color: aliceblue;
}
.left{
    width: 35%;
     height: 1600px;
     margin-left:20% ;
     margin-top: 10px;   

}
.side{
    width:17%;

    height:1600px;
    margin-top:10px;
    padding:0px 15px 10px 15px ;
}
.mid{
    display: flex;
    margin-bottom: 10px;
}

.recent1,.recent2{
    display: inline-flex;
}
.mid2{
    margin-top:25px;
}
.foot1,.foot2,.foot3{
    width: 25%;
    height:400px;
}
.foot2,.foot3{
    padding-top: 5%;
}
.last,.foot1,.foot2,.foot3{
    display: inline-block;
}
.foot1{
    margin-left: 15%;
}

.last{
   background-color: rgb(43, 41, 41);
   color: aliceblue;
}
.logos{
    display: flex;
}